/* GLOBAL STYLES */
:root {
  --heading-font: "Josefin Sans", "Arial", sans-serif;
  --text-font: "Alata", "Arial", sans-serif;
  --text-color: #fff;
  --special-text-color: #000;
}

/* FONT-FACE  */
@font-face {
  font-family: "Alata";
  src: url("../fonts/") format("woff2"),
      url("../fonts/Alata-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-Light.woff2") format("woff2"),
      url("../fonts/JosefinSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--text-color);
  color: var(--special-text-color);
  font-family: var(--text-font);
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px ;
}


/* CONTAINER  */
.container {
  max-width: 1210px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}


/* SITE-HEADER  */
.first-wrapper {
  margin-bottom: 160px;
  padding-top: 64px;
  padding-bottom: 146px;
  background-image: url(../img/main-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5E158E;
}

.site-header {
  padding-bottom: 130px;
}

.inner-wrapper {
  display: flex;
  align-items: center;
}

.site-logo-link {
  display: flex;
  flex-shrink: 0;
  margin-right: auto;
}

.site-nav {
  padding-left: 100px;
}

.header-link-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-lisnk-list-item:not(:last-child) {
  margin-right: 32px;
}

.header-links {
  padding-bottom: 6px;
  white-space: nowrap;
  text-decoration: none;
  color: var(--text-color);
}

.header-links:active {
  border-bottom: 2px solid var(--text-color);
  outline: none;
}

.inner-wrapper-tipa-main {
  width: 650px;
}

.site-main-heading {
  margin: 0;
  padding: 38px;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-size: 72px;
  line-height: 70px;
  font-weight: 300;
}


/* MAIN-CONTENT  */
/* HERO-ONE  */
.hero-one {
  background-image: url(../img/hero-bg-img.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
  margin-bottom: 184px;
}

.hero-one-bg-box-wrapper {
  display: flex;
  padding-left: 570px;
  padding-top: 183px;
}

.hero-one-bg-box {
  padding-top: 96px;
  padding-left: 96px;
  background-color: var(--text-color);
}

.hero-one-info {

  width: 445px;
}

.hero-one-main-heading {
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
}

.hero-one-main-paragraph {
  margin: 0;
  --text-color: #555;
  color: var(--text-color);
}

/* RETINA-BG  */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .first-wrapper {
    background-image: url(../img/main-bg@2x.jpg);
  }

}